@using lab_10_mvc_database
@{
    ViewBag.Title = "alex_page";
}

<h2>alex_page</h2>

<p>Hey I am a new page!</p>

<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
</ul>

<hr />

<h1>Custom List</h1>


