@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://docs.microsoft.com/aspnet/core">Learn about</a>
</div>

<ul>
    @for (int item = 1; item < 10; item++)
    {
        <li>item @item</li>
    }
</ul>

<body>
    <a href=""><img src="Images/Orangutan.jpg" width="1230" height="818" /> </a> 
</body>

